<div class="container my-5 bg-dark p-5">
    <h1 class="text-center text-success">Show Department list</h1>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary my-3" data-bs-toggle="modal" data-bs-target="#departModal">
        Add New Department
    </button>
    
    <!-- Modal add-->
    <div class="modal fade" id="departModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Enter Department Data</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3">
                    <div class="col-md-12">
                        <label for="validationDefault01" class="form-label">ID</label>
                        <input type="text" class="form-control" name="id" [(ngModel)]="ndepart.id" id="validationDefault01" required>
                    </div>
                    <div class="col-md-12">
                        <label for="validationDefault02" class="form-label">Name</label>
                        <input type="text" class="form-control" name="name" [(ngModel)]="ndepart.name" id="validationDefault02" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="save()">ADD Department</button>
            </div>
        </div>
        </div>
    </div>

    <br>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Show</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
            @for(item of departments; track item.id){
                <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>
                        <button class="btn btn-success" (click)="show(item)" data-bs-toggle="modal" data-bs-target="#ShowdtModal">Show</button>
                    </td>
                    <td>
                        <button class="btn btn-warning" (click)="edit(item)" data-bs-toggle="modal" data-bs-target="#UpdatedepartModal">Update</button>
                    </td>
                    <td>
                        <button class="btn btn-danger" (click)="delete(item)" data-bs-toggle="modal" data-bs-target="#deletedepartModal">Delete</button>
                    </td>
                </tr>
            }@empty{
                <tr class="text-center">
                    <td colspan="5">No Departments are founded!!</td>
                </tr>
            }
        </tbody>
    </table>
     <!-- Model for Show department -->
    <div class="modal fade" id="ShowdtModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Show Department Data</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="col-md-12 text-success">
                    ID : {{sDepart.id}} <br>
                    Name : {{sDepart.name}} <br>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>

    <!-- Modal update-->
    <div class="modal fade" id="UpdatedepartModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Update Department Data</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3">
                    <div class="col-md-12">
                        <label for="validationDefault01" class="form-label">ID</label>
                        <input type="text" class="form-control" name="id" [(ngModel)]="sDepart.id" id="validationDefault01" required>
                    </div>
                    <div class="col-md-12">
                        <label for="validationDefault02" class="form-label">Name</label>
                        <input type="text" class="form-control" name="name" [(ngModel)]="sDepart.name" id="validationDefault02" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="update()">Update Department</button>
            </div>
        </div>
        </div>
    </div>

    <!-- Model for delete -->
    <div class="modal fade" id="deletedepartModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Department Data</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6 class="text-danger">Are you Sure you want to delete this department?</h6>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="confirmDelete()" >Yes</button>
            </div>
        </div>
        </div>
    </div>
</div>

